*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.container{
    max-width: 1920px;
    max-height: 1080px;
}

.grid{
    display: grid;
    grid-template-columns: 34.5% 65.5%;
    height: 100vh;
}

.base-container{
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.top-bar{
    height: 40px;
    margin: 9.3vh 5.21vw auto 5.21vw;
}

.top-bar ul{
    display: flex;
    list-style: none;
}

.top-bar li{
    padding-left: 20px;
}

.logo-pineapple{
    display: flex;
    align-items: center;
}

.text-pineapple{
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: #6A707B;
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cup-picture{
    width: 44px;
    height: 70px;
    margin: 12.13vh auto auto 7.29vw;
}

.header{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    /* max-width: 399px; */
    min-width: 295px;
    height: 44px;

    margin: 2.96vh 7.29vw auto 7.29vw;
}

.paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
    max-width: 400px;
    min-width: 295px;
    height: 56px;

    margin: 1.85vh 7.29vw auto 7.29vw;
}

.underline {
    max-width: 400px;
    min-width: 275px;
    height: 1px;
    margin: 4.63vh 7.29vw auto 7.29vw;
    background: #E2E3E4;
}

.social-container {
    max-width: 244px;
    max-height: 46px;
    margin: 4.63vh 11.35vw auto 11.35vw;
    display: flex;
    justify-content: space-between;
}

.social-container a {
    border: 2px solid #E2E3E4;
    color: #131821;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
}

#ic-fb:hover, .social-fb:hover{
    color: #FFF;
    background-color: #4066A5;
    box-shadow: 5px 10px 10px #aaaaaa;
    border: none;
}

.social-fb:active{
    background-color: #2F4A80;
}

#ic-instagram:hover, .social-instagram:hover{
    color: #FFF;
    background-color: #C13584;
    box-shadow: 5px 10px 10px #aaaaaa;
    border: none;
}

.social-instagram:active{
    background-color: #8F2762;
}

#ic-twitter:hover, .social-twitter:hover{
    color: #FFF;
    background-color: #1DA1F2;
    box-shadow: 5px 10px 10px #aaaaaa;
    border: none;
}

.social-twitter:active{
    background-color: #177FBF;
}

#ic-youtube:hover, .social-youtube:hover{
    color: #FFF;
    background-color: #FF0000;
    box-shadow: 5px 10px 10px #aaaaaa;
    border: none;
}

.social-youtube:active{
    background-color: #CC0000;
}

li a:hover, .tos a:hover, .arrow:hover{
    color: #4066A5;
}

li a:active, .tos a:active, .arrow:active{
    color: #233759;
}

.image-container{
    background-image: url('images/image_summer.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 1679px){
    .grid{
        grid-template-columns: 40% 60%;
    }
}

/* Tablets */

@media (max-width: 1439px){
    
    .grid{
          grid-template-columns: 50% 50%;
     }

}

@media (max-width: 1100px){
    .grid{
        grid-template-columns: 55% 45%;
    }
}

/* Mobile Devices */

@media (max-width: 768px){
   
    .container{
        width: 1fr;
        background-image: url('images/image_summer.png');
        height: 1fr;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .top-bar{
        margin: 0;
        line-height: 24px;
        height: 66px;
        background: #FFF;
    }
    .top-bar p{
        display: none;
    }

    .grid{
        grid-template-columns: none;
    }
    .image-container{
       display: none;
    }

    .top-bar li{
        padding-right: 5px;
    }

    .logo-pineapple{
        padding-left: 20px;
    }

    .base-container{
        background:none;
        font-size: 14px;
        font-weight: 400;
       
    }

    .mobile-container{
        background: #FFF;
        width: 89.33vw;
        height: 46.69vh;
        margin: 23.15vh 5.33vw auto 5.33vw;
        min-height: 371px;
    }

    .cup-picture{
        display: inline-flex;
        margin: 5.05vh auto auto 5.33vw;

    }

    .header{
        display: inline-flex;
        font-size: 24px;
        line-height: 34px;
        height: 34px;
        margin: 3.69vh auto auto 5.33vw;
        background:none;
        width: 1fr;
    }

    .paragraph{
        line-height: 26px;
        height: 52px;
        margin: 1.23vh 5.33vw auto 5.33vw;
    }

    .underline{
        margin: 4.8vh 5.33vw auto 5.33vw;
    }

    .social-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5vh;
        margin-left: 14vw;
        width: 214px;
    }
}
